# Virtual Environment
venv/
.venv/
env/

# Secrets and Config
.env

# Python cache
__pycache__/
*.pyc

# Exclude all alternative development scripts
inspect_event.py
long_poll.py
main.py

# Exclude binaries and executive network tools
cloudflared-windows-amd64.exe
*.exe

# Exclude local workspace metadata trackers
.git/
